* {
  padding: 0px;
  margin: 0px;
}
#banner {
  width: 100%;
  height: 99vh;
}
#banner>img {
  width: 100%;
  position: fixed;
}
/* Navbar with dropdown list */
nav {
  --nav: #333;
  --navfont: silver;
  --navhover: brown;
  --navhoverfont: white;
  --navwidth: 100%;
  height: 1000px;
}
nav ul {
  margin: 0px;
  padding: 0px;
  width: var(--navwidth);
  background-color: var(--nav);
}
nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 10px;
}
nav ul li:hover {
  background-color: var(--navhover);
  color: var(--navhoverfont);
}
nav ul li a {
  text-decoration: none;
  color: var(--navfont);
  text-transform: capitalize;
}
nav ul li a:hover {
  color: var(--navhoverfont);
}
nav ul li ul.dropdown {
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
}
nav ul li:hover ul.dropdown {
  display: block;
  color: var(--navhoverfont);
}
nav ul li ul.dropdown li {
  display: block;
  padding: 5px 10px;
}
.container {
  position: relative;
  height: auto;

}
#first {
  height: 200px;
  width: 100%;
  border: 1px solid black;
  background-color: darkred;
}
#second {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  background-color: khaki;
}
#third {
  height: 200px;
  width: 100%;
  border: 1px solid black;
  background-color: darkgreen;
}